<table
  *ngIf="!flagNoDataToShow" 
  align="center" cellpadding='5' cellspacing='0' border='1'>
  <thead>
    <tr>
      <th colspan="5"><h1>List of students courses</h1></th>
    </tr>
    <tr>
      <th><h2>Id: </h2></th>
      <th><h2>Name: </h2></th>
      <th><h2>Course: </h2></th>
      <th><h2>Update: </h2></th>
      <th><h2>Delete: </h2></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let studentCourse of listOfCourses" align="center">
      <td>{{studentCourse.id}}</td>
      <td>{{studentCourse.name}}</td>
      <td>{{studentCourse.course}}</td>
      <td>
        <a 
          [routerLink]="['/update/', studentCourse.id]"
          routerLinkActive="router-link-active" 
          routerLinkActive="router-link-active">V
        </a>
      </td>
      <td><a (click)="deleteData(studentCourse)" href="javascript:void(0)">X</a></td>      
    </tr>
  </tbody>
</table>

<div *ngIf="flagNoDataToShow">
  <h1>Has no data to show it!</h1>
</div>