
<h1 *ngIf="flagUpdateData">Form to update your register</h1>
<h1 *ngIf="!flagUpdateData">Form to create your register</h1>

<form id="form-post" #formPost="ngForm" (ngSubmit)="formPost.form.valid && onSubmit(formPost)" novalidate>
  <div class="form-group">
      <label for="name">Name</label>
      <input 
        type="text" 
        class="form-control" 
        id="name" 
        name="name" 
        placeholder="Enter name"
        [ngModel]="returnDataService?.name"
        (ngModelChange)="returnDataService.name = $event">
  </div>
  <br>
  <div class="form-group">
      <label for="email">Course</label>
      <input 
        type="text" 
        class="form-control" 
        id="course" 
        name="course" 
        placeholder="Course" 
        [ngModel]="returnDataService?.course"
        (ngModelChange)="returnDataService.course = $event">
  </div>
  <br>
  <div class="form-group" *ngIf="flagUpdateData">
    <input 
      type="hidden" 
      name="id" 
      id="id" 
      class="form-control" 
      [ngModel]="returnDataService?.id"
      (ngModelChange)="returnDataService.id = $event">
  </div>
  <hr><br>

  <button *ngIf="flagUpdateData" type="submit" class="btn btn-primary">Update</button>
  <button *ngIf="!flagUpdateData" type="submit" class="btn btn-primary">Create</button>

</form>